#body {
    border: 1px solid rgb(55, 158, 127);
    width: 250px;
    height: 470px;
    background-color: rgb(44, 114, 93);

}

#body {
    margin: 0 auto;
}


#screen {
    border: 1px solid noe;
    width: 230px;
    height: 150px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
}
#input, #output{
    font-family: Poppins;
    font-size: 2em;
    user-select: none;
}
#input{
    position: relative;
    top:10px;
    left: -5px;
    direction: rtl;
}

#output{
    position: relative;
    top:40px;
    left: -5px;
    direction: rtl;
}

#icon{
    width: 30px;
    height: 25px;
    display: inline-block;

}



#squareroot{
    background-image: url(./sqr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 17px;
    
}
#square{
    background-image: url(./sq.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 17px;
}
#division{
    background-image: url(./div.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 17px;
}
span {
    border: 1px solid white;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    display: inline-block;
    margin: 0 auto;
    align-items: center;
    margin-top: 25px;
    margin-left: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    user-select: none;
    transition: all .1s ease;
}

#none, #ntwo {
    margin-top: 10px;
    font-family: Poppins;
    font-weight: 500;
    color: rgb(8, 92, 67);
}

span:active{
    background-color: rgb(189, 189, 189);
    border-color: rgb(44, 114, 93);
}